{% extends 'esqueleto.html' %}
{% load static %}
    {% block content %}
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Viaja con la Nube</a>
              </div>
            </header>


            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{% static 'assets/images/innovacción.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Gracias Innovacción Virtual</h4>
                      <p>El objetivo de este proyecto es hacer mas eficiente el flujo de trafico tanto de personas como de vehículos mediante el monitoreo constante de los mismos y reforzando las medidas sanitarias como la sana distancia.</p>
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
    {% endblock %}